<main class="d-flex flex-column align-items-center w-100 flex-grow-1">
  <h1 class="bg-success-subtle p-2 text-center text-success w-100">MY PROFILE</h1>
  <section class="m-3 d-flex flex-column justify-content-evenly flex-wrap align-items-center" style="width: 380px;">
    <p class="card-title py-1 text-center w-100">First Name: {{profile.firtsName}}</p>
    <p class="card-title py-1 text-center w-100">Last Name: {{profile.lastName}}</p>
    <p class="card-title py-1 text-center w-100">Email: {{profile.email}}</p>
    <p class="card-title py-1 text-center w-100">Role: {{profile.role}}</p>
  </section>
</main>